In [3]:
a = 5
b = 37.25
print(f"Type of a is {type(a)}")
print(f"Type of b is {type(b)}")
print(f"a.b = {a*b}")

Type of a is <class 'int'>
Type of b is <class 'float'>
a.b = 186.25

In [5]:
s1 = "Hello"
s2 = input("Enter your name: ")
print(s1 + " " + s2)

Enter your name: Anıl
Hello Anıl

In [7]:
name = input("Enter your name:")
age = int(input("Enter your age:"))
print(f"Hello {name}! Your age is: {age}")

Enter your name:Anıl
Enter your age:21
Hello Anıl! Your age is: 21

In [8]:
values = ["Apfel", "Banane", "Chili", "Dattel"]
for i in values:
    print(i)

Apfel
Banane
Chili
Dattel

### Lambda Operator

In [12]:
base_numbers = list(range(10))
base_numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
def power(x):
    return x**2

In [17]:
pow_numbers_list = list()
pow_numbers = lambda x: x**2
for i in base_numbers:
    pow_numbers_list.append(pow_numbers(i))

print(pow_numbers_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'
full_name("Anıl", "Yaşar")

'Full name: Anıl Yaşar'

### Dictionary

In [25]:
adresse = {
'Nachname': 'Meier',
'Vorname': 'Karl',
'Strasse': 'VMP 5',
'PLZ': '20146',
'Ort': 'Hamburg',
}

In [26]:
adresse["Nachname"]

'Meier'

In [27]:
adresse["Ort"]

'Hamburg'

In [29]:
print(adresse['Vorname'] + " " + adresse['Nachname'])

Karl Meier

In [30]:
print(adresse['PLZ'] + " " + adresse['Ort'])

20146 Hamburg

### Loop

In [31]:
for i in range(len(values)):
    print(values[i])

Apfel
Banane
Chili
Dattel

In [32]:
total = 0
for i in range(100):
    total += i
print(total)

4950

In [33]:
# Iterate on keys and values at the same time
for key, value in adresse.items():
    print(f"{key}: {value}")

Nachname: Meier
Vorname: Karl
Strasse: VMP 5
PLZ: 20146
Ort: Hamburg

In [34]:
# Iterate on only keys
for key in adresse.keys():
    print(key)

Nachname
Vorname
Strasse
PLZ
Ort

In [35]:
# Iterate on only values
for value in adresse.values():
    print(value)

Meier
Karl
VMP 5
20146
Hamburg

### Random Library

In [37]:
# First, we need the import module into program
import random

#### random.randint : Return random integer in range [a, b], including both end points.

In [38]:
zufalls_zahlen = []
for i in range(10):
    zufalls_zahlen.append(random.randint(-10, 10))

print(zufalls_zahlen)

[9, 2, -4, 9, -7, -4, 3, -10, 1, 7]

### Methods

In [41]:
def generateRandomNumbers(n, a, b):
    zz = {}
    for i in range(n):
        try:
            zz[i] = random.randint(a, b)
        except ValueError:
            raise Exception("Second parameter must be bigger than third parameter")
    return zz

In [42]:
print(generateRandomNumbers(12, 5, -5))

Exception: Second parameter must be bigger than third parameter

In [48]:
def sum(zahlen):
    """
        Parameter must be a dictionary object type, otherwise an exception will be thrown
    """
    if type(zahlen) is not dict:
        raise Exception("Parameter must be a dictionary object type")
    else:     
        total = 0
        for i in zahlen.values():
            total += i
        return total

In [49]:
zahlen_list = list(range(20))
zahlen_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [50]:
zahlen_dict = generateRandomNumbers(20, -10, 10)
zahlen_dict

{0: 10,
 1: -9,
 2: -1,
 3: -2,
 4: -1,
 5: 3,
 6: 0,
 7: 7,
 8: 2,
 9: -2,
 10: -8,
 11: -2,
 12: 2,
 13: -2,
 14: 10,
 15: -6,
 16: 9,
 17: -4,
 18: -7,
 19: 3}

In [52]:
sum(zahlen_list)

Exception: Parameter must be a dictionary object type

In [53]:
sum(zahlen_dict)

2